name: Android quick debug build

on:
  workflow_dispatch:
    inputs:
      versionName:
        description: 'User-facing release version name'
        required: true
        default: "1.0.0"
      versionCode:
        description: 'versionCode or build number'
        required: true
        default: '1'

jobs:
  tramline:
    runs-on: ubuntu-latest
    steps: 
    - run: echo ${{ github.event.inputs.versionCode }} > version.txt

    - uses: actions/upload-artifact@v3
      with:
       name: version
       path: version.txt
  build:
    # This job will run on ubuntu virtual machine
    runs-on: ubuntu-latest
    steps:

    # Setup Java environment in order to build the Android app.
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v1
      with:
        java-version: '12.x'

    # Setup the flutter environment.
    - uses: subosito/flutter-action@v2
      with:
        channel: 'stable' # 'dev', 'alpha', default to: 'stable'
        # flutter-version: '1.12.x' # you can also specify exact version of flutter

    # Get flutter dependencies.
    - run: flutter pub get
    
    # Build apk.
    - run: flutter build apk --debug --build-number=${{ github.event.inputs.versionCode }} --build-name=${{ github.event.inputs.versionName }}

    # Upload generated apk to the artifacts.
    - uses: actions/upload-artifact@v3
      with:
        name: release-aab
        path: build/app/outputs/flutter-apk/app-debug.apk
