name: Tramline Runner Android debug build

on:
  workflow_dispatch:
    inputs:
      tramline-input:
        required: false

jobs:
  build:
    runs-on: tramline-macos-sonoma-md

    steps:
    - name: Configure Tramline
      id: tramline
      uses: tramlinehq/deploy-action@v0.1.6
      with:
        input: ${{ github.event.inputs.tramline-input }}

    - uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: 11
        cache: 'gradle'

    # Setup the flutter environment.
    - uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.7.5'
        channel: 'stable'
        cache: true

    # Get flutter dependencies.
    - run: flutter pub get

    - run: flutter --version

    - run: echo ${{ steps.tramline.outputs.build_notes }}

    # Build apk.
    - run: flutter build apk --debug --build-number=${{ steps.tramline.outputs.version_code }} --build-name=${{ steps.tramline.outputs.version_name }} --flavor prod

    # Upload generated apk to the artifacts.
    - uses: actions/upload-artifact@v3
      with:
        name: release-apk
        path: build/app/outputs/flutter-apk/app-prod-debug.apk
